<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :物件名 %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :賃料 %>
    <%= form.text_field :price %>円
  </div>
  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_field :place %>
  </div>
  <div class="field">
    <%= form.label :築年数 %>
    <%= form.text_field :age %>年
  </div>
  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_area :remark %>
  </div>
  <div class="field">
    <% i = 1 %>
    <%= form.fields_for :stations do |stations_form| %>
      <h3>最寄駅<%= i %></h3>
      <% i += 1 %>
      <%= stations_form.label :route, "路線名" %>
      <%= stations_form.text_field :route %>
      <%= stations_form.label :name, "駅名" %>
      <%= stations_form.text_field :name %>
      <%= stations_form.label :time, "徒歩分数" %>
      <%= stations_form.text_field :time %>分
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
